<div id="right" *ngIf="project" [style.padding-bottom]="padding">
    <div *ngIf="project.hasVideo">
        <iframe  *ngFor="let link of project.videoLinks" [src]="link | safe" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>

    <app-static-img *ngFor="let img of project.imgs" [imgroot]=project.imgRoot [img]=img [smallerImgs]=project.smallerImgs (click)="onClickImg(img)"></app-static-img>

    <button id="scrollUpBtn" (click)="scrollUp()">↑</button>
</div>

<div class="lightBox" *ngIf="selectedImg" [@inOutAnimation] (click)="onClickLightBox()">
    <img src="../../assets/{{project.imgRoot}}/{{selectedImg}}">
</div>
