<div class="right" *ngIf="project">
    <div *ngIf="project.hasVideo">
        <iframe  *ngFor="let link of project.videoLinks" [src]="link | safe" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <img *ngFor="let img of project.imgs" src="../../assets/{{project.imgRoot}}/{{img}}" (click)="onClickImg(img)">
   
    <div class="lightBox" *ngIf="selectedImg" [@inOutAnimation] (click)="onClickLightBox()">
        <img src="../../assets/{{project.imgRoot}}/{{selectedImg}}">
    </div>
</div>
