@import '../../mixins';

#about-images {
    padding: 5px;
    width: 100%;
    float: right;

    & img {
        height: auto!important;
        width: auto!important;
        max-width: calc(100vw - 20px);
        max-height: calc(100vh - 20px);
        object-fit: contain;
        float: right;
        @include mboxshadow(1);
        margin: 5px;
        border-radius: 10px;

    }

    & .fixed {
        position: fixed;
        right: 0;
        top: 0;
        border-radius: 500px;

    }
}