@import '../../mixins';

#about-images {
    padding: 5px;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    & img {
        max-height: calc(100vh - 20px);
        object-fit: contain;
        float: right;
        @include mboxshadow(1);
        margin: 2px;
        filter: grayscale(1) contrast(100);

        &:hover {
            filter: grayscale(0) contrast(1);
        }
    }
    & .touched {
        filter: grayscale(0) contrast(1);
    }
    & .fixed {
        position: fixed;
        right: 0;
        top: 0;
        border-radius: 500px;
    }
}

@include for-size(phone-only){
    #about-images {
        display: none;
    }
}