@import '../../mixins';

#right {
    float: right;
    width: 65%;
    border-width: 0 0 0 0;
    font-size: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include for-size(phone-only){
        float: none;
        width: 100%;
        height: auto;
    }
}

img {
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

