.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-width: 1px 0 0 0;
}

#footer-left {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    border-width: 0 0 0 0;
    word-break: break-all;

}

#footer-right {
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
    border-width: 0 0 0 1px;
    word-break: break-all;
}

p {
    padding: 5px;
}