@import '../../mixins';

#footer {
    width: 100%;

    @include for-size(phone-only){
        position: fixed;
        bottom: 0;
        background-color: $background-color;
        border-top-width: 1px;
    }

}

#footer-left {
    width: 50%;
    min-height: 120px;
    position: relative;
    float: left;
    border-width: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include for-size(phone-only){
        min-height: 100px;
    }
    
}

#footer-right {
    width: 50%;
    min-height: 120px;
    position: relative;
    float: right;
    border-width: 0 0 0 1px;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include for-size(phone-only){
        min-height: 100px;
    }
}

p {
    padding: 5px;
}