.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-width: 1px 0 0 0;
}

#footer-left {
    width: 50%;
    min-height: 120px;
    position: relative;
    float: left;
    border-width: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#footer-right {
    width: 50%;
    min-height: 120px;
    position: relative;
    float: right;
    border-width: 0 0 0 1px;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

p {
    padding: 5px;
}