@import '../../mixins';

#main {
    width: 35%;
    height: 100vh;
    position: fixed;
    border-width: 0 1px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    @include for-size(phone-only){
        width: 100%;
        height: auto;
        position: relative;
    }

}

.selected {
    text-indent: -35px;
    list-style: none;
}

div {
    border-width: 0 0 1px 0;

}

p {
    border-width: 0;
    padding: 5px;
}

ul {
    list-style: decimal;
    margin: 0 0 10px 0;
}

li {
    &:hover {
        font-style: italic;
        cursor: pointer;
    }
}

.blockquote {
    padding-left: 35px;
    border-width: 0;
}

#about-images {
    border-width: 0;
    position: absolute;
    width: 100%;
    padding: 25px;

    & img {
        height: auto!important;
        width: auto!important;
        max-width: calc(100vw - 100px);
        max-height: calc(100vh - 100px);
        object-fit: contain;
        float: right;
        margin: 25px;
        @include mboxshadow(1);
    }
}

#projects-container {
    height: auto;
    flex-grow: 2;
    overflow-y: scroll;

    @include for-size(phone-only){
        height: auto;
    }

}

#about-container {
    cursor: pointer;
    
}

#about-hook {
    height: auto;

    &:hover {
        font-style: italic;
    }
}