<div id="main">
    <div id="about-container" (click)="aboutClicked()">
        <p id="about-hook">Tiger Dingsun</p>
        <div class="blockquote" *ngIf="showAbout">
            <p>Web developer/graphic designer<br>interested in text in all forms and capacities.</p>
            <p><a href="../../assets/tiger-dingsun-resume.pdf" target="_blank">Resume</a>&nbsp;&nbsp;&nbsp;<a href="mailto:tiger.dingsun@gmail.com">Email</a></p>
            <p><a href="https://www.instagram.com/tiger.dingsun/?hl=en">IG: @tiger.dingsun</a>&nbsp;&nbsp;&nbsp;<a href="https://www.are.na/tiger-dingsun/">Are.na</a></p>
            <p></p>
        </div>

    </div>
    <div id="projects-container">
        <ol>
            <li *ngFor="let project of projects" (click)="onSelect(project)"
                [class.selected]="project === selectedProject">
                {{ project.name }}
                <app-project-description *ngIf="project === selectedProject" [project]=project>
                </app-project-description>
            </li>
        </ol>
    </div>
    <app-left-footer *ngIf="selectedProject" [project]="selectedProject"></app-left-footer>
</div>