@import '../../mixins';

#main {
    width: 35%;
    height: 100vh;
    position: fixed;
    border-width: 0 1px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    @include for-size(phone-only){
        width: 100%;
        height: auto;
        position: relative;
    }

}

.selected {
    font-weight: bold;
    letter-spacing: -0.5px;
}

div {
    border-width: 0 0 1px 0;

}

p {
    border-width: 0;
    padding: 5px;
}

ul {
    list-style: decimal;
    margin: 0 0 10px 0;
}

li {
    padding: 0.5px 0;
    &:hover {
        cursor: pointer;
        font-weight: bold;
        letter-spacing: -0.5px;
    }
}

.blockquote {
    padding-left: 35px;
    border-width: 0;
}

#projects-container {
    height: auto;
    flex-grow: 2;
    overflow-y: scroll;
    overflow-x: hidden;

    @include for-size(phone-only){
        height: auto;
    }

}

#about-container:hover {
    cursor: pointer;
}

#about-hook {
    height: auto;

    &:hover {
        font-style: italic;
        cursor: pointer;
    }
}