@import '../../mixins';

#main {
    height: 100vh;
    border-width: 0 1px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selected {
    font-weight: bold;
    letter-spacing: -0.5px;
}

div {
    border-width: 0 0 1px 0;

}

p {
    border-width: 0;
    padding: 5px;
}

ol {
    margin: 0 0 10px 0;
    padding-left: 30px;
}

li {
    padding: 1px 0;
    &:hover {
        cursor: pointer;
        font-weight: bold;
        letter-spacing: -0.5px;
    }
}

.blockquote {
    padding-left: 30px;
    border-width: 0;
}

#projects-container {
    height: auto;
    flex-grow: 2;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: transparent;
}

#about-container:hover {
    cursor: pointer;
}

#about-hook {
    height: auto;

    &:hover {
        font-style: italic;
        cursor: pointer;
    }
}

@include for-size(phone-only){
    #main {
        width: 100vw;
        height: unset;
        position: relative;
        display: block;
    }
}