.project-description {
    background-color: white;
    width: 100%;
    height: calc(55vh - 120px);
    overflow-y: scroll;
    border-width: 0 0 1px 0;
    padding: 10px;
}

p {
    border: none;
    line-height: 1.3em;
    padding-bottom: 10px;
}