/* You can add global styles to this file, and also import other style files */
$main-color: cornflowerblue;

body, html {
    margin: 0;
    padding: 0;
    color: $main-color;
    font-family: sans-serif;
}

div {
    border-color: $main-color;
    border-style: dotted;
    border-width: 0;
    box-sizing: border-box;
}

p {
    padding: 0;
    margin: 0;
    border-width: 0 0 1px 0;
    border-color: $main-color;
    border-style: dotted;
}

.lightBox {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    right: 0;
    top: 0;
    & img {
        height: auto!important;
        width: auto!important;
        max-width: 100vw;
        max-height: 100vh;
        object-fit: contain;

    }
}

iframe {
    width: 65vw;
    height: 40.625vw;
    border-color: $main-color;
    border-style: dotted;
    border-width: 0 0 1px 0;
}

a {
    color: $main-color;
    &:hover {
        font-style: italic;
    }
}

blockquote {
    margin-bottom: 0;
    margin-top: 0;
}