/* You can add global styles to this file, and also import other style files */
@import 'mixins';

body, html {
    margin: 0;
    padding: 0;
    color: $main-color;
    font-family: sans-serif;
    background-color: $background-color;
    @include for-size(phone-only) {
        font-size: 14px;
    }
}

div {
    border-color: $main-color;
    border-style: dotted;
    border-width: 0;
    box-sizing: border-box;
}

p {
    padding: 0;
    margin: 0;
    border-width: 0 0 1px 0;
    border-color: $main-color;
    border-style: dotted;
}

.lightBox {
    z-index: 999;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    right: 0;
    top: 0;
    & img {
        height: auto!important;
        width: auto!important;
        max-width: calc(100% - 100px);
        max-height: calc(100vh - 100px);
        margin: 50px;
        @include for-size(phone-only) {
            margin: 0px;
            max-width: 100vw;
            max-height: 100vh;
        }
        @include mboxshadow(3);

    }
}

iframe {
    width: 65vw;
    height: 40.625vw;
    border-color: $main-color;
    border-style: dotted;
    border-width: 0 0 1px 0;

    @include for-size(phone-only) {
        width: 100vw;
        height: 67.708vw;
    }
}

a {
    color: $main-color;
    &:hover {
        font-style: italic;
    }
}

blockquote {
    margin-bottom: 0;
    margin-top: 0;
}

#scrollUpBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: $main-color;

    @include for-size(phone-only) {
        bottom: 10px;
        right: 10px;
    }
}
